#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

.App {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	align-content: ;
	justify-content: center;
}

.input {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

.input label {
	font-size: 1.5rem;
	font-weight: bold;
}

textarea {
	font-size: 1.2rem;
}

.difficulty {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	font-size: 1.5rem;
	font-weight: bold;
}

.difficulty select {
	width: 200px;
	padding: 0.5rem 1rem;
}

.button-generate {
	width: max-content;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	padding: 1rem 2rem;
}

.output {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

.output label {
	font-size: 1.5rem;
	font-weight: bold;
}

.output > div {
	max-width: 60ch;
	font-size: 2rem;
	text-align: left;
}
