#root {
	max-width: 1280px;
	width: 1200px;
	height: 100vh;
	margin: 0 auto;
	padding: 0 2rem;
	text-align: center;
}

.header {
	margin-top: 1rem;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 1rem;
	border-bottom: 1px solid rgba(26, 26, 26, 0.3);
}

.App {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	align-content: center;
	justify-content: center;
}

.input {
	max-width: 100vw;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

.input label {
	font-size: 1.5rem;
	font-weight: bold;
}

textarea {
	max-width: clamp(200px, 80vw, 800px);
	max-height: 200px;
	width: 100%;
	height: 100%;
	padding: 1rem;
	font-size: 1.2rem;
	background: #eeeeee;
	border: 1px solid #1a1a1a;
	border-radius: 8px;
	color: #1a1a1a;
}

textarea:focus {
	outline: none;
}

.difficulty {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	font-size: 1.5rem;
	font-weight: bold;
}

.difficulty select {
	width: 200px;
	padding: 0.5rem 1rem;
	background: #eeeeee;
	color: #1a1a1a;
	font-weight: bold;
	border: 1px solid #1a1a1a;
	border-radius: 8px;
}

.button-generate {
	width: max-content;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	padding: 1rem 2rem;
}

.error {
	color: #ff1053;
	font-weight: bold;
}

.output {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	margin-bottom: 8rem;
}

.output label {
	font-size: 1.5rem;
	font-weight: bold;
}

.output > div {
	max-width: 60ch;
	font-size: 2rem;
	text-align: left;
}

.obfuscated {
	color: #ff1053;
}

.about {
	max-width: 1280px;
}

.about-intro,
.how-it-works,
.example,
.rules {
	text-align: left;
	padding: 1rem;
	font-size: clamp(1rem, 2vw, 1.5rem);
}
